section {
  width: 950px;
  background-color: white;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0px 30px 50px rgba(65, 50, 100, 0.08);
}

.Dictionary-header {
  display: flex;
  justify-content: center;
  gap: 100px;
  padding: 10px 0;
}

.Dictionary-header h1 {
  margin-top: 50px;
  margin-bottom: 7px;
}

.Dictionary-header p {
  margin-bottom: 12px;
  margin-top: 0;
  font-size: 15px;
}

.Dictionary-header .search-input {
  width: 350px;
  height: 30px;
  display: block;
  font-size: 15px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 5px;
  margin-bottom: 7px;
  padding: 15px 10px;
}

.Dictionary-header .submit-input {
  font-size: 14px;
  background-color: #2f40c4;
  color: white;
  padding: 7px 20px;
  border: none;
  border-radius: 5px;
  transition: 200ms;
}

.Dictionary-header .submit-input:hover {
  background-color: #f26b7f;
  cursor: pointer;
}

.header-image img {
  width: 400px;
}

.footer {
  font-size: 12px;
  color: rgb(73, 66, 66);
  text-align: center;
  margin-top: 10px;
  padding: 15px 0;
}

.footer a {
  text-decoration: none;
  color: #f26b7f;
  font-weight: 500;
  transition: 200ms;
}

.footer a:hover {
  cursor: pointer;
  opacity: 0.6;
}

@media (max-width: 900px) {
  section {
    max-width: 100%;
  }

  .header-image img {
    display: none;
  }

  .Dictionary-header {
    display: block;
    text-align: center;
    padding: 20px 0;
  }

  .Dictionary-header h1 {
    margin-top: 0;
  }

  .Dictionary-header .search-input {
    width: 80%;
    margin: 0 auto 10px;
  }

  .footer {
    font-size: 8px;
  }
}
